.icons {
    display: flex;
    align-items: center;
    
    .icons__cart {
        margin: 0 12px;
    }

    .icons__search {
        position: relative;
        margin-left: 12px;
        margin-right: 0;
    }

    .icons__img {
        display: block;
        cursor: pointer;
    }
}