extends layout/app

block page 
  include chunk/header

  .wrap.content
    include chunk/categories
    include chunk/offers
    include chunk/banner
    include chunk/products



 
  
    
  

  include chunk/footer