.blog 
  p.blog__title OUR BLOGS & NEWS
  .blog__block 
    .blog__element 
      img(src="img/blog.jpg", alt="#")
      .blog__info
        p.blog__topic
            a(href="#") The 15 Secrets About Fashion People 
        p.blog__date January 12, 2020 by admin
    .blog__element 
      img(src="img/blog2.jpg", alt="#")
      .blog__info
        p.blog__topic
            a(href="#") The 15 Secrets About Fashion People 
        p.blog__date January 12, 2020 by admin