.categories
  ul
    li
        a(href="#") All
    li
        a(href="#") spring-summer 
    li
        a(href="#") sweatshirt
    li
        a(href="#") sneakers
    li
        a(href="#") gadgets
    li
        a(href="#") outdoor