.featured
  p.featured__title FEATURED PRODUCTS
  .categories
    ul
        li
            a(href="#") All
        li
            a(href="#") spring-summer 
        li
            a(href="#") sweatshirt
        li
            a(href="#") sneakers
        li
            a(href="#") gadgets
        li
            a(href="#") outdoor
  .featured__block
    .featured__element
      img(src="img/featured1.jpg", alt="#")
      p
        a(href="#") Ted Baker Womens Light 
      p.featured__brand Gucci
      p.featured__price #[span $70.00]  $120.00
    .featured__element
        img(src="img/featured2.jpg", alt="#")
        p
            a(href="#") Ted Baker Womens Light 
        p.featured__brand Gucci
        p.featured__price #[span $70.00]  $120.00
    .featured__element
        img(src="img/featured3.jpg", alt="#")
        p
            a(href="#") Ted Baker Womens Light 
        p.featured__brand Gucci
        p.featured__price #[span $70.00]  $120.00
    .featured__element
        img(src="img/featured4.jpg", alt="#")
        p
            a(href="#") Ted Baker Womens Light 
        p.featured__brand Gucci
        p.featured__price #[span $70.00]  $120.00
  a.featured__btn SHOW MORE      

