.offers
  .offers__left
    .offers__element
      img(src="img/offer1.jpg", alt="#")
      .offers__info 
        p.offers__two-get BUY 2 GET #[br]UP 50% OFF
    .offers__element 
      img(src="img/offer2.jpg", alt="#")    
  .offers__center
    .offers__element
      img(src="img/offer3.jpg", alt="#")
      .offers__info 
        p.offers__category Winter Jacket
        p.offers__name VINTAGE LOOK #[br]FOR WOMEN
        a(href="#") SHOP NEW
      span.offers__new NEW
  .offers__right
    .offers__element
      img(src="img/offer4.jpg", alt="#")
      .offers__info 
        p.offers__category Winter Jacket
        p.offers__name FASHION #[br]FOR MEN        
        a(href="#") SHOP NEW
    .offers__element.offers__element--glasses
      img(src="img/offer5.jpg", alt="#")
      .offers__info 
        p.offers__category 40% OFF on sunglasses
      span.offers__new NEW 

               
        
      