.products 
  p.products__title PRODUCT TYPES
  p up to 30% discount
  .products__block 
    .products__element 
      img(src="img/product1.jpg", alt="#")
      a(href="#") SHOP MEN
    .products__element 
      img(src="img/product2.jpg", alt="#")
      a(href="#") SHOP WOMEN
    .products__element 
      img(src="img/product3.jpg", alt="#")
      a(href="#") SHOP KIDS
